-i https://pypi.org/simple/
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
ciscoconfparse==1.5.30
colorama==0.4.4
cryptography==3.4.7
dnspython==2.1.0
future==0.18.2
idna==2.8
importlib-resources==5.1.2 ; python_version < '3.7'
jinja2==2.11.3
junos-eznc==2.2.1
lxml==4.6.3
markupsafe==1.1.1
napalm==2.5.0
ncclient==0.6.10
netaddr==0.8.0
netmiko==2.4.2
nxapi-plumbing==0.5.2
paramiko==2.6.0
passlib==1.7.4
pycparser==2.20
pyeapi==0.8.4
pyiosxr==0.53
pynacl==1.4.0
pyserial==3.5
pyyaml==5.4.1
requests==2.22.0
scp==0.13.3
six==1.15.0
textfsm==1.1.0
urllib3==1.25.8
zipp==3.4.1 ; python_version < '3.8'
